{% extends "customer/custbase.html" %}
{% load static %}
{% load django_template_maths %}
{% load cart_tag %}
{% block content %}

<div class="container-fluid">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="container">
                <div class="d-flex   justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black fw-bold">CheckOut</h3>
                </div>
                <hr>

                <form action="" method="post">
                    {% csrf_token %}

                   

                    <label class="fw-bold fs-6 text-dark" for="">First Name:</label>
                    {{orderdata.first_name}}

                    <label class="fw-bold fs-6 text-dark" for="">Last Name:</label>
                    {{orderdata.last_name}}

                    <label class="fw-bold fs-6 text-dark" for="">Address:</label>
                    {{orderdata.address}}

                    <label class="fw-bold fs-6 text-dark" for="">State:</label>
                    {{orderdata.state}}

                    <label class="fw-bold fs-6 text-dark" for="">City:</label>
                    {{orderdata.city}}

                    <label class="fw-bold fs-6 text-dark" for="">Area:</label>
                    {{orderdata.area}}

                    <label class="fw-bold fs-6 text-dark" for="">Contact Number:</label>
                    {{orderdata.phone_number}}

                    <label class="fw-bold fs-6 text-dark" for="">Pin-Code:</label>
                    {{orderdata.pin_code}}

                    {% comment %} <label class="fw-bold fs-6 text-dark" for="">Order-Total Amount:</label>
                    {{orderdata.order_total}} {% endcomment %}

                    <input type="hidden" value="{{cart_total_amount}}" name="order_total">
                    
                    <br>
                    <input type="submit" value="CheckOut" name="submit" class="btn btn-warning fw-bold">
                    <hr>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" mb-4">
                <div class="card-body  d-flex flex-row">
                    <div class="container-fluid row g-0">
                        <div class="row g-0 p-3" style="background-color: #1b1a45;">

                            <div class="card rounded-3 mb-4">
                                <h3><span class="style-change p-5">Items Overview</span></h3>
                                <hr>
                                <div class="card-body p-3 ">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        {% for key,value in request.session.cart.items %}
                                        
                            <div class="col">
                                <p class="lead fw-normal mb-1">{{value.name}}</p>

                            </div>
                            
                            <div class="col text-center">
                                <h6 class="mb-0 text-dark fw-bold ">Price {{ value.price| multiply:value.quantity }} &#8377;</h6>
                            </div>
                            <hr>
                            {% endfor %}
                            <h5><span class=" py-5 text-black">Total Price  </span><span class="float-end text-black px-5">{{cart_total_amount}} &#8377;</span></h5>
                        </div>
                        
                        
                        
                        <div id="paypal-button-container" class='text-center mt-2'></div>
                    </div>
        
                </div>
                

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AfcKEmQPnkG6qR0wpzlUMfmC1xo_HnhquwUryM-5vNUNivkWF70HFGO1JdLP-sxd0aSchAJC-4RXQaNK&currency=USD"></script>


<script>
    // Render the PayPal button into #paypal-button-container

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


function CompleteOrder(){
    var url = '{% url 'complete' %}'

            fetch(url,{
    method:'post',
    headers:{
        'Content-type':'application/json',
        'X_CSRFToken':csrftoken,
    },
            }
                
            )
        }

    paypal.Buttons({
        locale: 'it_IT',
        style: {
            color: 'gold',
            shape: 'rect',
            layout: 'vertical',
            label: 'pay'
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value:{{cart_total_amount| div:82.57|floatformat:"2"}}
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                CompleteOrder()
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script>

{% endblock %}