{% extends "customer/profilebase.html" %}
{% block profilecontent %}
{% load static %}



{% for i in custdata1 %}

{% if request.user.is_authenticated %}
        <table class="table table-striped">
            <thead>
              <tr>
                  <th scope="col" class="fw-normal">Full Name : </th>
                  <th scope="col">{{i.Customer_Fullname}}</th>
                </tr>
                  
                  
                  <tr>
                      <th scope="col" class="fw-normal">Email :</th>
                      <th scope="col">{{i.Customer_Email}}</th>
                    </tr>
                    <tr>
                        <th scope="col" class="fw-normal">Phone Number :</th>
                        <th scope="col">{{i.Customer_Phoneno}}</th>
                    </tr>
                        <tr>
                <th scope="col" class="fw-normal">Address :</th>
                <th scope="col">{{i.Customer_Address}}</th>
              </tr>
            </thead>
        </table>

        <a href="{% url 'updateuserprofile' i.id %}" class="btn btn-warning fw-bold">Update</a>
        {% comment %} <a href="{% url 'deletprofile' i.id %}" class="btn btn-outline-warning fw-bold">Delet Your Account</a>

         {% endcomment %}
        {% endif %}
        
      
        {% endfor %}
{% endblock %}