 {% extends "restaurant/restbase2.html" %}
{% load static %}
{% block content %} 

{% comment %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Basket</title>
</head>
<body> {% endcomment %}
    


    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
      
                      {% comment %} <form class="mx-1 mx-md-4"> {% endcomment %}
                        <form action="" method="post" class="mx-1 mx-md-4">
                            {% csrf_token %}
      
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            {{form.email}}
                            {{form.email.errors}}
                            <label class="form-label" for="form3Example3c">Your Email</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            {{form.password1}}
        {{form.password1.errors}}
                            <label class="form-label" for="form3Example4c">Password</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            {{form.password2}}
        {{form.password2.errors}}
                            <label class="form-label" for="form3Example4cd">Repeat your password</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            {{form.is_restaurantowner}}
                            {{form.is_restaurantowner.errors}}
        <label class="form-check-label" for="form2Example3">
          I agree all statements in <a href="#!">Terms of service</a>
        </label>
                          </div>
                        </div>
      
                       
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <input type="submit" value="Register" name="submit" class="btn btn-primary ">
                            
                          {% comment %} <button type="button" class="btn btn-primary btn-lg">Register</button> {% endcomment %}
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                        class="img-fluid" alt="Sample image">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
    
{% comment %} ############################################################## {% endcomment %}
{% comment %} 
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Email :</label>
        {{form.email}}
        {{form.email.errors}}

        <br>
        <br>

        <label for="">Password :</label>
        {{form.password1}}
        {{form.password1.errors}}


        <br>
        <br>
        <label for="">Confirm Password :</label>
        {{form.password2}}
        {{form.password2.errors}}
        <br><br>
        <input type="submit" value="Register" name="submit">
    </form> {% endcomment %}
{% comment %} 
</body>
</html> {% endcomment %}

{% endblock %}
