{% extends "deliveryboy/delsidebar.html" %}
 {% load static %} 
 {% block content %}

 <div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Received</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{orders|length}}</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">{{orders|length}}</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-e-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Pending Orders</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{orders|length}}</span></h2>
                    <p class="m-b-0">Total Pending Orders<span class="f-right">{{orders|length}}</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-f-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Accepted Orders</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{accepted_orders|length}}</span></h2>
                    <p class="m-b-0">Total Accepted Orders<span class="f-right">{{accepted_orders|length}}</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Rejected Orders</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>{{rejected_orders|length}}</span></h2>
                    <p class="m-b-0">Rejected Orders<span class="f-right">{{rejected_orders|length}}</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Going to Restaurant</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{delivery_status|length}}</span></h2>
                    <p class="m-b-0">Going to Restaurant Orders<span class="f-right">{{delivery_status|length}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue2 order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Picked Up Orders</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{delivery_status2|length}}</span></h2>
                    <p class="m-b-0">Picked Up Orders<span class="f-right">{{delivery_status2|length}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue3 order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Delivered Orders</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{delivery_status3|length}}</span></h2>
                    <p class="m-b-0">Delivered Orders<span class="f-right">{{delivery_status3|length}}</span></p>
                </div>
            </div>
        </div>
	</div>
</div>

 {% endblock %}