{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required Meta Tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Page Title -->
  <title>MealBasket / Delivery</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/x-icon" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'assets/css/animate-3.7.0.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome-4.7.0.min.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/jquery.datetimepicker.min.css' %}" />
  <link rel="stylesheet" href="{% static '../static/assets/css/style.css' %}" />
  <!-- <link rel="stylesheet" href=""> -->
  <style>
 
    .order-card {
        color: #fff;
    }
    
    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }
    
    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }
    
    .bg-e-green {
        background: linear-gradient(45deg,#79093c,#790978);
    }
    .bg-f-green {
        background: linear-gradient(45deg,#ff0086,#ff0086);
    }
    
    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }
    
    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }
    
    
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .card .card-block {
        padding: 25px;
    }
    
    .order-card i {
        font-size: 26px;
    }
    
    .f-left {
        float: left;
    }
    
    .f-right {
        float: right;
    }
    </style>
</head>
<body>
  <div class="container-fluid  g-0">
    <div class="row flex-nowrap g-0">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
        <div class="d-flex sticky-top flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-1 mb-md-0 me-md-auto text-white text-decoration-none">
            <h3 class="text-dark">MealBasket</h3>

            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item">
                <a href="{% url 'deldashboard' %}" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
              </li>
              {% comment %} <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-speedometer2"></i>
                  <span class="ms-1 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                  <li class="w-100">
                    <a href="{% url 'addfooditem' %}" class="nav-link text-danger px-0">
                      <span class="d-none d-sm-inline">Add Food Items</span>
                    </a>
                  </li>
                  <li>

                    <a href="{% url 'restfoodmenu' %}" class="nav-link text-danger px-0">
                      <span class="d-none d-sm-inline">All Food Items</span>
                    </a>
                  </li>
                </ul>
              </li> {% endcomment %}
              <li>
                <a href="{% url 'delorders' %}" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">Orders</span></a>
              </li>
              <li>
                <a href="{% url 'acceptedorder' %}" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">Accepted Orders</span></a>
              </li>
              <li>
                <a href="{% url 'rejectedorder' %}" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">Rejected Orders</span></a>
              </li>
              <li>
                <li>
                <li>
                  <a href="{% url 'showdelprofile' %}" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i>
                    <span class="ms-1 d-none d-sm-inline">Profile</span></a>
                </li>
              
                <a href="{% url 'dellogout' %}" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-people"></i>
                  <span class="ms-1 d-none d-sm-inline">LogOut</span>
                </a>
              </li>
            </ul>
            <hr>
            <div class="dropdown pb-4">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle" />
                <span class="d-none d-sm-inline mx-1">loser</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
        </div>
      </div>
      <div class="col" style="background:rgb(220,220,220);">
        <div style="background:rgb(220,220,220);" class="alert alert-light d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
          </svg>
          <div>
            <span class="fs-5"> Welcome </span>
            <span class="fs-5 text-success fw-bold">{{request.user.email}} </span>
            </div>
          </div>


          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



    <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '../static/assets/js/vendor/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <script src="{% static '/static/assets/js/vendor/dropdown.js' %}"></script>
</body>

</html>